<h3 class="display-4 text-muted">Projects Testing</h3>
<br>
<div class="row">
  <div class="col-lg mr-5">
    <button class="btn btn-primary" routerLink="/projects-add">Add a project</button>
    <div class="container mt-lg-5">
      <div class="form-group">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search by name"
            [(ngModel)]="name"/>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                    type="submit"
                    (click)="retrieveProjects()"> Search
            </button>
          </div>
        </div>
      </div>
      <table class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projectList | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index" [class.active]="i == currentIndex" (click)="setActiveProject(project, i)">
          <td>
            {{project.id}}
          </td>
          <td>
            {{project.name}}
          </td>
        </tr>
        </tbody>
      </table>
      <div class="col-md-12">
        <div class="row">
          <pagination-controls
            previousLabel="Previous"
            nextLabel="Next"
            responsive="true"
            (pageChange)="handlePageChange($event)"
          ></pagination-controls>
          <div class="col-6">
            Items per Page:
            <select (change)="handlePageSizeChange($event)">
              <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-lg ml-5 mt-5 pt-5">

    <div class="container" *ngIf="!currentProject">
      <div class="card" style="width: 500px"> <!--  Project Details Automatically  -->
        <h3 class="card-header">Details of the project</h3>
        <div class="card-body">
          <div class="row">
            <dt class="col-sm-3">ID:</dt>
            <dd class="col-sm-9">{{projectAutomatically.id}}</dd>
            <dt class="col-sm-3">Name:</dt>
            <dd class="col-sm-9">{{projectAutomatically.name}}</dd>
            <dt class="col-sm-3">Company:</dt>
            <dd class="col-sm-9">{{companyDetails.name}}</dd>
            <dt class="col-sm-3">Users:</dt>
            <dd class="col-sm-9">
              <ul *ngFor="let user of usersInfo">
                <li>
                  {{user}}
                </li>
              </ul>
            </dd>
          </div>
        </div>
      </div> <!--  End of Project Details Automatically  -->
      <br>
      <button class="btn btn-outline-warning" routerLink="/project-edit/{{projectAutomatically.id}}">Edit Project
      </button>
      |
      <button class="btn btn-outline-danger" (click)="deleteProject(projectAutomatically.id)">Delete Project</button>
    </div>

    <div class="container" *ngIf="currentProject">
      <div class="card" style="width: 500px"> <!--  Project Details -->
        <h3 class="card-header">Details of the project</h3>
        <div class="card-body">
          <div class="row">
            <dt class="col-sm-3">ID:</dt>
            <dd class="col-sm-9">{{currentProject.id}}</dd>
            <dt class="col-sm-3">Name:</dt>
            <dd class="col-sm-9">{{currentProject.name}}</dd>
            <dt class="col-sm-3">Company:</dt>
            <dd class="col-sm-9">{{companyDetails.name}}</dd>
            <dt class="col-sm-3">Users:</dt>
            <dd class="col-sm-9">
              <ul *ngFor="let user of usersInfo">
                <li>
                  {{user}}
                </li>
              </ul>
            </dd>
          </div>
        </div>
      </div> <!--  End of Project Details -->
      <br>
      <button class="btn btn-outline-warning" routerLink="/project-edit/{{currentProject.id}}">Edit Project</button>
      |
      <button class="btn btn-outline-danger" (click)="deleteProject(currentProject.id)">Delete Project</button>
    </div>

  </div>
</div> <!-- End row -->

