<div class="container">
  <h3 class="display-4 text-muted">Companies</h3>
  <div class="row">
    <div class="container">
      <button class="btn btn-primary" routerLink="/companies-add">Add a company</button>
      <div class="container mt-lg-5">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let company of companyList">
            <td>
              <a [routerLink]="['/companies-edit', company.id]">{{company.id}}</a>
            </td>
            <td>
              {{company.name}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--  Company Details  -->
    <div class="container">
      <h3 class="display-4 text-muted">Details of the company</h3>
      <div class="container mt-lg-5">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Projects</th>
            <th>Users</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              {{companyEdit.id}}
            </td>
            <td>
              {{companyEdit.name}}
            </td>
            <td>
              <ul>
                <li>{{companyEdit.projectList}}</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>{{companyEdit.userList}}</li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-danger" [routerLink]="['/companies']">Cancel</button>
      </div>
    </div><!--  End of Company Details  -->
  </div> <!-- End row -->
</div>


