<body>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Time Log Application</a>
        </li>
      </ul>
      <div>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
  <div class="row mt-lg-5">
    <nav id="sidebarMenu" class=" col-lg-2 col-md-3 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li>
            <a class="nav-link list-group-item-action bg-light" href="#">
              Home
            </a>
          </li>
          <li>
            <a class="nav-link list-group-item-action bg-light" href="#" routerLink="/companies">
              Companies
            </a>
          </li>
          <li>
            <a class="nav-link list-group-item-action bg-light" href="#" routerLink="/projects">
              Projects
            </a>
          </li>
          <li >
            <a class="nav-link list-group-item-action bg-light" href="#">
              Tasks
            </a>
          </li>
          <li>
            <a class="nav-link list-group-item-action bg-light" href="#">
              Logs
            </a>
          </li>
          <li>
            <a class="nav-link list-group-item-action bg-light" href="#" routerLink="/users">
              Users
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex flex-wrap flex-md-nowrap pl-5 pt-4 pb-4 mb-3 ml-0 mr-5">

        <router-outlet></router-outlet>

      </div>
    </main>
  </div>

</div>

</body>




