<div class="container">
  <h3 class="display-4 text-muted">Users</h3>
  <div class="row">
    <div class="container">
      <div class="container mt-lg-5">
        <table class="table table-bordered table-hover ">
          <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of userList">
            <td>
              <a [routerLink]="['/users-edit', user.id]">{{user.id}}</a>
            </td>
            <td>
              {{user.firstName}}
            </td>
            <td>
              {{user.lastName}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!--  Details of user  -->
      <div class="container">
        <h3 class="display-4 text-muted">Details of the user</h3>
        <div class="container mt-lg-5">
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                {{userAutomatically.id}}
              </td>
              <td>
                {{userAutomatically.firstName}}
              </td>
              <td>
                {{userAutomatically.lastName}}
              </td>
              <td>
                {{userAutomatically.email}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div><!--  End of details of user  -->
    </div> <!-- End row -->
  </div>
</div>

