<h3 class="display-4 text-muted">Projects</h3>
<br>
<div class="row">
  <div class="col-lg mr-5">
    <button class="btn btn-primary" routerLink="/projects-add">Add a project</button>
    <div class="container mt-lg-5">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search ID or name here" [(ngModel)]="term">
      </div>
      <table class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projectList | filter:term">
          <td>
            <a [routerLink]="['/projects', project.id]" (click)="reload()">{{project.id}}</a>
          </td>
          <td>
            {{project.name}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
  </div>

  <div class="col-lg ml-5 mt-5 pt-5">
    <router-outlet></router-outlet>
    <br>
    <div class="card" style="width: 500px"> <!--  Project Details Automatically  -->
      <h3 class="card-header">Details of the project</h3>
      <div class="card-body">
        <div class="row">
          <dt class="col-sm-3">ID:</dt>
          <dd class="col-sm-9">{{projectAutomatically.id}}</dd>
          <dt class="col-sm-3">Name:</dt>
          <dd class="col-sm-9">{{projectAutomatically.name}}</dd>
          <dt class="col-sm-3">Company:</dt>
          <dd class="col-sm-9">{{projectAutomatically.company}}</dd>
          <dt class="col-sm-3">Users:</dt>
          <dd class="col-sm-9">{{projectAutomatically.userList}}</dd>
        </div>
      </div>
    </div> <!--  End of Project Details Automatically  -->
    <br>
    <button class="btn btn-secondary" routerLink="/project-edit/{{projectAutomatically.id}}">Edit Project</button>
  </div>
</div> <!-- End row -->

