<div class="container">
  <h3 class="display-4 text-muted">
    <span data-feather="home"></span>
    Companies
  </h3>
  <div class="row">
    <div class="container">
      <button class="btn btn-primary" routerLink="/companies-add">Add a company</button>
      <div class="container mt-lg-5">
        <table class="table table-sm table-bordered table-hover">
          <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let company of Companies">
            <td>
              <a [routerLink]="['/companies', company.id]" (click)="reload()">{{company.id}}</a>
            </td>
            <td>
              {{company.name}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--  Company Details  -->
    <router-outlet></router-outlet>

    <!--  Company Details  -->
    <div *ngIf="href === '/companies'" class="container">
      <div class="row">
        <!--  Company Details  -->
        <div class="container">
          <h3 class="display-4 text-muted">Details of the company</h3>
          <div class="container mt-lg-5">
            <!--   Begin table square     -->
            <div class="row border border-dark ">
              <dt class="col-sm-3">Name:</dt>
              <dd class="col-sm-9">{{companyAuto.name}}</dd>
              <dt class="col-sm-3">Projects:</dt>
              <dd class="col-sm-9">{{companyAuto.projectList}}</dd>
              <dt class="col-sm-3">Users:</dt>
              <dd class="col-sm-9">{{companyAuto.userList}}</dd>
            </div>
            <!--   End table square     -->
          </div>
          <br>
          <button class="btn btn-secondary" routerLink="/company-edit/{{companyAuto.id}}">Edit company</button>
        </div><!--  End of Company Details  -->
      </div> <!-- End row -->
    </div>
  </div>
</div>


