<h3 class="display-4 text-muted">Companies</h3>
<br>
<div class="row">
  <div class="col-lg mr-5">
    <button class="btn btn-primary" routerLink="/companies-add">Add a company</button>
    <div class="container mt-lg-5">
      <div class="form-group">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search by name"
            [(ngModel)]="name"/>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                    type="submit"
                    (click)="retrieveCompanies()"> Search
            </button>
          </div>
        </div>
      </div>
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let company of companyList | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index" [class.active]="i == currentIndex" (click)="setActiveCompany(company, i)">
          <td>
            {{company.id}}
          </td>
          <td>
            {{company.name}}
          </td>
        </tr>
        </tbody>
      </table>
      <div class="col-md-12">
        <div class="row">
          <pagination-controls
            previousLabel="Previous"
            nextLabel="Next"
            responsive="true"
            (pageChange)="handlePageChange($event)"
          ></pagination-controls>
          <div class="col-6">
            Items per Page:
            <select (change)="handlePageSizeChange($event)">
              <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-lg ml-5 mt-5 pt-5">

    <div class="container" *ngIf="!currentCompany">
      <div class="card" style="width: 500px"> <!--  Company Details Automatically  -->
        <h3 class="card-header">Details of the company</h3>
        <div class="card-body">
          <div class="row">
            <dt class="col-sm-3">ID:</dt>
            <dd class="col-sm-9">{{companyAutomatically.id}}</dd>
            <dt class="col-lg-3">Name:</dt>
            <dd class="col-lg-9">{{companyAutomatically.name}}</dd>
            <dt class="col-lg-3">Projects:</dt>
            <dd class="col-lg-9">
              <ul *ngFor="let project of projectsNames">
                <li>{{project}}</li>
              </ul>
            </dd>
            <dt class="col-lg-3">Users:</dt>
            <dd class="col-lg-9">
              <ul *ngFor="let user of usersInfo">
                <li>
                  {{user}}
                </li>
              </ul>
            </dd>
          </div>
        </div>
      </div> <!--  End of Company Details Automatically  -->
      <br>
      <button class="btn btn-outline-warning" routerLink="/company-edit/{{companyAutomatically.id}}">Edit company
      </button>
      |
      <button class="btn btn-outline-danger" (click)="deleteCompany(companyAutomatically.id)">Delete company</button>
    </div>

    <div class="container" *ngIf="currentCompany">
      <div class="card" style="width: 500px"> <!--  Company Details Automatically  -->
        <h3 class="card-header">Details of the company</h3>
        <div class="card-body">
          <div class="row">
            <dt class="col-sm-3">ID:</dt>
            <dd class="col-sm-9">{{currentCompany.id}}</dd>
            <dt class="col-lg-3">Name:</dt>
            <dd class="col-lg-9">{{currentCompany.name}}</dd>
            <dt class="col-lg-3">Projects:</dt>
            <dd class="col-lg-9">
              <ul *ngFor="let project of projectsNames">
                <li>{{project}}</li>
              </ul>
            </dd>
            <dt class="col-lg-3">Users:</dt>
            <dd class="col-lg-9">
              <ul *ngFor="let user of usersInfo">
                <li>
                  {{user}}
                </li>
              </ul>
            </dd>
          </div>
        </div>
      </div> <!--  End of Company Details Automatically  -->
      <br>
      <button class="btn btn-outline-warning" routerLink="/company-edit/{{currentCompany.id}}">Edit company</button>
      |
      <button class="btn btn-outline-danger" (click)="deleteCompany(currentCompany.id)">Delete company</button>
    </div>

  </div>
</div> <!-- End row -->


