<h3 class="display-4 text-muted">Edit project</h3>
<br>
<button class="btn btn-secondary mb-5 mr-5 ml-5" routerLink="/projects">Return to list</button>
<br>
<div class="alert alert-danger" *ngIf="invalidForm">{{errorMessage}}</div>
<div class="container mr-5 ml-5">
  <form [formGroup]="editedProject" (ngSubmit)="editProject(projectDetails.id)">
    <div class="form-row">
      <div class="col-lg-4">
        <div class="form-label-group">
          <input
            class="form-control"
            type="text" id="name"
            formControlName="name"
            placeholder="Project name"
            required
            minlength="4"
            [class.is-invalid]="name.invalid && (name.dirty || name.touched )"
            [(ngModel)]="projectDetails.name">
          <label for="name">Project Name</label>
          <div *ngIf="(name.invalid && name.touched) || name.dirty">
            <small *ngIf="name.errors?.required" class="text-danger">Name is required.</small>
            <small *ngIf="name.errors?.minlength" class="text-danger">Name must be at least 4 characters long.</small>
          </div>
        </div>
        <div class="form-group">
          <label>Company</label>
          <select class="form-control"
                  required
                  formControlName="company"
                  [class.is-invalid]="company.invalid && (company.dirty || company.touched )">
            <option value="" selected>Select a company</option>
            <option *ngFor="let companies of companyList" [ngValue]="companies.id">
              {{companies.name}}
            </option>
          </select>
          <div *ngIf="(company.invalid && company.touched) || company.dirty">
            <small *ngIf="company.errors?.required" class="text-danger">Company is required.</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label>Members
          <select
            [(ngModel)]="projectDetails.userList"
            class="custom-select"
            required
            formControlName="userList"
            [class.is-invalid]="userList.invalid && (userList.dirty || userList.touched )"
            multiple>
            <option *ngFor="let m of usersList" [ngValue]="m.id">
              {{m.firstName}} {{m.lastName}}
            </option>
          </select>
          <div *ngIf="(userList.invalid && userList.touched) || userList.dirty">
            <small *ngIf="userList.errors?.required" class="text-danger">This field is required.</small>
          </div>
          </label>
        </div>
      </div>
    </div>
    <button class="btn btn-success" type="submit">Save</button>
    |
    <button class="btn btn-danger" (click)="deleteProject(projectDetails.id)">Delete Project</button>
  </form>
</div>
